.login {
  font-family: var(--fontFamily-comforta);

  @include media-breakpoint-between(sm, xxl) {
    background-color: chocolate;
  }

  @include media-breakpoint-between(xs, md) {
    background-color: red;
  }

  @include media-breakpoint-up(xxl) {
    background-color: aqua;
  }
}
