<% var data = { title: "Profile" } %>
<%= _.template(require('./../includes/_html-top.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="container">
    <div class="profile__wrapper">
        <%= _.template(require('./../includes/profile-menu.html').default)(data) %>
        <%= _.template(require('./../includes/profile-user.html').default)(data) %>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/_html-bottom.html').default)(data) %>