@font-face {
  font-family: "Comfortaa";
  src: url("Comfortaa Regular.eot");
  src: url("Comfortaa Regular.eot?#iefix") format("embedded-opentype"),
    url("Comfortaa Regular.woff2") format("woff2"), url("Comfortaa Regular.woff") format("woff"),
    url("Comfortaa Regular.svg#Comfortaa Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
