:root {
  --fontWieght-bold: 900;
  --fontFamily-comforta: Comfortaa;
  --border-radius: 8px;
  --background-default: #f7f8fc;
  --background-data: #cecece;
  --border-radius: 8px;
  --item-text-color: #3751ff;
}
