.article {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: var(--fontFamily-text);

  &__article-wrapper {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  &__article-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    word-break: break-word;
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  &__about-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__about-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__like-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__like-label {
    padding-left: 15px;
    padding-right: 15px;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "â¤";
      font-size: 50px;
    }
    &:hover,
    &:checked:hover {
      color: rgba(212, 44, 22, 0.555);
    }
  }

  &__like {
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    left: 0;
    transition: color 0.1s linear;

    &:checked > .article__like-label {
      color: rgb(212, 44, 22);
    }
  }
}
