.attraction {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: var(--fontFamily-text);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  &__article-wrapper {
    display: flex;
    gap: 110px;

    @include media-breakpoint-down(lg) {
      gap: 50px;
    }

    &--right {
      flex-direction: row;

      @include media-breakpoint-down(xl) {
        flex-direction: column;
      }
    }

    &--left {
      flex-direction: row-reverse;

      @include media-breakpoint-down(xl) {
        flex-direction: column;
      }
    }
  }

  &__article-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    word-break: break-word;

    @include media-breakpoint-up(xl) {
      width: 80%;
    }
  }

  &__article-title {
    font-weight: var(--fontWieght-bold);
    font-size: 32px;
  }

  &__article-discription {
    font-size: 18px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 10px;

    &-title {
      font-size: 18px;
    }
  }

  &__rating-simple-rating {
    position: relative;
    font-size: 25px;
    display: inline-block;

    &::before {
      content: "★★★★★";
      display: inline-block;
    }
  }

  &__rating-simple-rating__items {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &__rating-simple-rating__item {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;

    &:checked,
    &:checked ~ .attraction__rating-simple-rating__label {
      color: var(--color-generaly);
    }
  }

  &__rating-simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;

    &::before {
      content: "★";
      display: block;
      transition: all 0.3s ease 0s;
    }

    &:hover,
    &:hover ~ &,
    &:checked ~ &:hover {
      color: var(--color-generaly);
    }
  }
}
