.background {
  align-items: center;
  display: flex;
  padding-bottom: 48px;
  padding-top: 48px;
  position: relative;
  color: var(--white);

  &__img {
    height: 100%;
    left: 0;
    filter: brightness(0.4);
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
