.content {
  &__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: var(--fontFamily-text);

    @include media-breakpoint-down(lg) {
      gap: 40px;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    @include media-breakpoint-between(lg, xl) {
      gap: 50px;
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @include media-breakpoint-up(xl) {
      gap: 60px;
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }
  &__discription-wrapper {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
      gap: 40px;
    }

    @include media-breakpoint-between(lg, xl) {
      gap: 60px;
    }

    @include media-breakpoint-up(xl) {
      gap: 80px;
    }
  }

  &__navigation {
    font-weight: bold;
  }

  &__discription {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__title {
    font-weight: var(--fontWieght-bold);

    @include media-breakpoint-between(md, lg) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 23px;
    }
  }

  &__subtitle {
    @include media-breakpoint-down(lg) {
      word-wrap: break-word;
    }

    @include media-breakpoint-up(lg) {
      max-width: 450px;
    }
  }

  &__items {
    position: relative;
    overflow: hidden;
    padding: 10px 5px;
  }

  &__items-title {
    font-weight: var(--fontWieght-bold);
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__item {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
    flex: 0 0 auto;

    &:hover > .content__name-wrapper {
      display: flex;
      background-color: #00000050;
      text-align: center;
      top: 0;
    }
  }

  &__img-wrapper {
    position: relative;
    padding-top: 100%;
    transition: filter 0.2s ease-in-out;
  }

  &__name-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s linear;
    top: 100%;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    color: var(--white);
  }

  &__item-discription {
    color: var(--white);
  }

  &__btn {
    cursor: pointer;
    border: 3px solid var(--color-generaly);
    background-color: var(--color-generaly);
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    transition: 0.2s ease-in-out;
    border-radius: 5px;

    &:hover {
      color: var(--white);
      box-shadow: 0 0 5px var(--color-generaly);
    }
  }
}
