.footer {
  background-color: var(--black);
  color: var(--white);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include media-breakpoint-down(lg) {
      padding-top: 50px;
      padding-bottom: 90px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 90px;
      padding-bottom: 40px;
    }
  }

  &__wrapper-inner {
    display: flex;

    gap: 30px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }

    &--license {
      flex-direction: row;
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
  }

  &__wrapper-inner:last-of-type() {
    padding-top: 30px;
    border-top: 1px solid var(--white);
  }

  &__title {
    color: var(--white);
    font-weight: 600;

    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: flex-start;
    }

    @include media-breakpoint-down(lg) {
      text-align: center;
      font-size: 24px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 28px;
    }
  }

  &__list-title {
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    &:hover,
    &:active {
      color: var(--color-generaly);
    }
  }

  &__list-wrapper {
    @include media-breakpoint-down(lg) {
      padding-top: 25px;
      border-top: 1px solid var(--white);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
  }

  &__item {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;

    &:hover,
    &:active {
      color: var(--color-generaly);
    }
  }
}
