#menu {
  display: none;
  @include media-breakpoint-down(xl) {
    &:not(:checked) ~ .header__nav-wrapper {
      left: -330px;
    }

    &:not(:checked) ~ .backdrop {
      pointer-events: none;
      opacity: 0;
    }

    &:checked ~ .header__nav-wrapper {
      left: 0px;
    }

    &:checked ~ .backdrop {
      opacity: 0.5;
    }
  }
}

.backdrop {
  transition: opacity 0.2s ease-in-out;
}

.lock-scroll {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

    @include media-breakpoint-down(lg) {
      flex-direction: row;
      padding: 20px 30px;
      gap: 30px;
    }
    @include media-breakpoint-between(lg, xl) {
      flex-direction: column;
    }
    @include media-breakpoint-up(lg) {
      padding: 24px 65px;
    }
  }

  &__title {
    font-weight: 700;
    width: 250px;
    color: var(--black);
    text-decoration: none;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
    }
    @include media-breakpoint-between(lg, xl) {
      text-align: center;
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: flex-start;
      font-size: 20px;
    }

    &:hover,
    &:active {
      color: var(--black);
    }
  }

  &__menu-btn {
    border: none;
    padding-top: 10px;
    padding-bottom: 20px;

    @include media-breakpoint-down(lg) {
      display: block;
      background-color: transparent;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__menu-icon {
    position: relative;
  }
  &__menu-icon,
  &__menu-icon::before {
    width: 33px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-generaly);
  }

  &__menu-icon::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0;
  }

  &__cross-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__cross {
    @include media-breakpoint-down(lg) {
      position: relative;
      width: 30px;
      height: 4px;
      background-color: var(--white);
      border-radius: 25px;
      transform: rotate(45deg);

      &::after {
        background-color: var(--white);
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transform: rotate(90deg);
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  &__nav-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
      overflow: auto;
      background-color: var(--color-generaly);
      position: fixed;
      height: 100vh;
      z-index: 2;
      top: 0;
      left: 0;
      padding: 65px 20px;
      transition: left 0.2s ease-in-out;
    }
  }

  &__user {
    display: flex;
    width: 94%;
    padding: 0 0 5px;

    @include media-breakpoint-down(lg) {
      color: var(--white);
      justify-content: center;
      border-bottom: none;
      padding: 25px 10px;
    }

    @include media-breakpoint-up(lg) {
      position: relative;
      justify-content: flex-end;
      left: 30px;
      top: 1px;
      border-bottom: 1px solid var(--black);
    }
  }

  &__nav-list {
    display: flex;
    font-size: 18px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      border: none;
      align-items: flex-start;
      padding-top: 30px;
      gap: 25px;
    }

    @include media-breakpoint-up(lg) {
      align-items: center;
      border-radius: 35px 0 0 35px;
      border-top: 1px solid var(--black);
      border-left: 1px solid var(--black);
      border-bottom: 1px solid var(--black);
      border-right: none;
      padding: 5px 10px;
      gap: 5px;
    }
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: color 0.2s ease-in;
    width: 100%;

    &:hover {
      color: var(--color-generaly);
    }
    &:active {
      color: var(--color-generaly);
    }

    @include media-breakpoint-up(lg) {
      color: var(--black);
      font-size: 16px;
    }
    @include media-breakpoint-down(lg) {
      color: var(--white);
      font-size: 16px;
      padding-bottom: 5px;
    }

    &--active {
      color: var(--color-generaly);

      @include media-breakpoint-down(lg) {
        color: var(--white);
        border-bottom: 1px solid var(--white);
      }
    }
  }

  &__nav-wrapper-list {
    display: flex;
    gap: 25px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__btn-sign {
    text-decoration: none;
    color: var(--white);
    align-self: center;
    background-color: var(--color-generaly);
    font-weight: 600;
    padding: 14px 24px;
    box-shadow: 0 0 0 var(--color-generaly);
    border-radius: 35px;
    transition: box-shadow 0.2s ease-in;

    @include media-breakpoint-down(lg) {
      text-align: center;
      padding: 7px 24px;
      width: 100%;
      background-color: var(--color-generaly);
      border: 1px solid var(--white);
    }

    &:hover {
      color: var(--white);
      box-shadow: 0 1px 18px var(--color-generaly);
    }
  }
}
