#menu {
  display: none;
  @include media-breakpoint-down(xl) {
    &:not(:checked) ~ .header__nav-wrapper {
      left: -330px;
    }

    &:not(:checked) ~ .backdrop {
      pointer-events: none;
      opacity: 0;
    }

    &:checked ~ .header__nav-wrapper {
      left: 0px;
    }

    &:checked ~ .backdrop {
      opacity: 0.5;
    }
  }
}

.backdrop {
  transition: opacity 0.2s ease-in-out;
}

.lock-scroll {
  overflow: hidden;
}

.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

    @include media-breakpoint-down(lg) {
      flex-direction: row;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include media-breakpoint-between(lg, xl) {
      flex-direction: column;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 65px;
      padding-right: 65px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    width: 250px;
    color: black;
    text-decoration: none;

    @include media-breakpoint-between(lg, xl) {
      text-align: center;
    }
    @include media-breakpoint-down(xl) {
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: flex-start;
      font-size: 16px;
    }

    &:hover,
    &:active {
      color: black;
    }
  }

  &__menu-btn {
    border: none;
    display: none;
    padding: 10px 0 20px;

    @include media-breakpoint-down(lg) {
      display: block;
      background-color: transparent;
    }
  }

  &__menu-icon {
    position: relative;
  }
  &__menu-icon,
  &__menu-icon::before {
    width: 33px;
    height: 5px;
    border-radius: 5px;
    background-color: #883cda;
  }

  &__menu-icon::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0;
  }

  &__cross-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__cross {
    @include media-breakpoint-down(lg) {
      position: relative;
      width: 30px;
      height: 4px;
      background-color: white;
      border-radius: 25px;
      transform: rotate(45deg);

      &::after {
        background-color: white;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transform: rotate(90deg);
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  &__nav-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
      overflow: auto;
      background-color: #883cda;
      position: fixed;
      height: 100vh;
      z-index: 2;
      top: 0;
      left: 0;
      padding: 65px 20px;
      transition: left 0.2s ease-in-out;
    }
  }

  &__user {
    display: flex;
    width: 94%;
    padding: 0 0 5px;

    @include media-breakpoint-down(lg) {
      color: white;
      justify-content: center;
      border-bottom: none;
      padding: 25px 10px;
    }

    @include media-breakpoint-up(lg) {
      position: relative;
      justify-content: flex-end;
      left: 0;
      top: 1px;
      border-bottom: 1px solid black;
    }
  }

  &__nav-list {
    display: flex;
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 10px;
    gap: 5px;
    align-items: center;
    border-top: 1px solid black;
    border-right: none;
    border-radius: 35px 0 0 35px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      border: none;
      align-items: flex-start;
      padding: 0;
      gap: 25px;
    }
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: color 0.2s ease-in;

    &:hover {
      color: #594370;
    }
    &:active {
      color: #594370;
    }

    @include media-breakpoint-up(lg) {
      color: black;
      font-size: 16px;
    }
    @include media-breakpoint-down(lg) {
      color: white;
      font-size: 16px;
    }

    &--active {
      color: #594370;
    }
  }

  &__search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-down(lg) {
      width: 100%;
      min-width: 150px;
    }
  }

  &__search {
    border: 2px solid #d8d2df;
    box-shadow: 0 0 0;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 30px 10px 15px;
    transition: border 0.25s ease-in-out;

    @include media-breakpoint-down(lg) {
      width: 100%;
      padding: 5px 10px;
      font-size: 14px;
    }

    &:focus-visible,
    &:active {
      border: 2px solid #883cda;
      outline: none;
    }
  }

  &__search-icon {
    position: absolute;
    border: none;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;

    &:active {
      border-radius: 5px;
      background-color: rgba(64, 29, 85, 0.24);
    }
  }

  &__nav-wrapper-list {
    display: flex;
    gap: 25px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__btn-sign {
    text-decoration: none;
    color: white;
    align-self: center;
    background-color: #883cda;
    font-weight: 600;
    padding: 14px 24px;
    box-shadow: 0 0 0 #9f8fb0;
    border-radius: 35px;
    transition: box-shadow 0.2s ease-in;

    @include media-breakpoint-down(lg) {
      text-align: center;
      padding: 7px 24px;
      width: 100%;
      background-color: #883cda;
      border: 1px solid white;
    }

    &:hover {
      color: white;
      box-shadow: 0 1px 18px #9f8fb0;
    }
  }
}
