.index-swiper {
  .flex {
    display: flex;
    max-height: 100vh;
  }

  .items {
    position: relative;
    padding: 0;
  }

  &__item {
    font-family: var(--fontFamily-text);
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 0 0 auto;
  }

  &__img-wrapper {
    @include media-breakpoint-between(xs, md) {
      padding-top: 100%;
    }
    @include media-breakpoint-between(md, lg) {
      padding-top: 50%;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 30%;
    }
  }

  &__title {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    color: var(--white);

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }
  }
}
