.map {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 40px;
    padding-top: 40px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      font-size: 22px;
    }
  }

  &__content {
    min-height: 650px;
    border-radius: 25px;
    max-height: 650px;

    @include media-breakpoint-down(lg) {
      min-height: 402px;
      max-height: 402px;
    }
  }
}
