.paragraph {
  padding-top: 40px;
  padding-bottom: 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    word-break: break-word;
    text-align: justify;
  }

  //TODO!
  &__img-container {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  &__about-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__about-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
