.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .background,
.sticky + .main,
.sticky + .news,
.sticky + .container {
  @include media-breakpoint-up(lg) {
    padding: 210px 0 80px 0;
  }

  @include media-breakpoint-between(lg, xl) {
    padding: 255px 0 70px 0;
  }

  @include media-breakpoint-down(lg) {
    padding: 120px 0 40px 0;
  }
}
