.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .background,
.sticky + .main,
.sticky + .news,
.sticky + .container {
  @include media-breakpoint-up(lg) {
    padding-top: 210px;
    padding-bottom: 80px;
  }

  @include media-breakpoint-between(lg, xl) {
    padding-top: 255px;
    padding-bottom: 70px;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}

.sticky + .index-swiper {
  @include media-breakpoint-up(lg) {
    padding: 133px 0 80px 0;
  }

  @include media-breakpoint-between(lg, xl) {
    padding: 179px 0 70px 0;
  }

  @include media-breakpoint-down(lg) {
    padding: 87px 0 40px 0;
  }
}
